
h1, h2, h3 {
        font-family: 'Monoton', cursive;
	color: #1b75bc;
}

.blue { color: #1b75bc; }
.red { color: #bc312e; }

.navbar-static-top {
	color: #fff;
	background-color: #1b75bc;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.navbar-static-top a:focus,
.navbar-static-top a:hover {
	color: #1b75bc;
}

.navbar-static-top a {
	color: #fff;
}


